<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">HAKKIMIZDA</h1>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>1998 yılında "En yeni iletişim ve bilgisayar teknolojilerini kullanarak müşterilerine dünya standartlarında çözümler sunmak" ilkesiyle yola çıkan isimtescil.net, geçen 16 yıllık süreçte Dünya ve Türkiye’ye, en büyük domain ve hosting firmalarından biri olmayı başarmıştır.

        2008 yılında alan adları standartlarını belirleyen ve denetleyen tek otorite ICANN'e akredite olan isimtescil.net, 2010 yılından beri Türkiye'nin en büyük 500 bilişim şirketi arasında yer almakta ve kurulduğu günden buyana 1 milyonun üzerinde domain kaydı ve 200 bininin üzerinde barındırma hizmetne ev sahipliği yapmıştır.
        45 kişilik ekibi ile 7/24 destek operasyonunu sürdüren ve sürekli Ar-Ge politikası ile kendi altyapı yatırımlarını yöneten isimtescil.net, 2013 yılında Türkiye'de ilk kez yeni domain uzantıları için ön talep sürecini başlatmış ve bu süreçte 1 milyonun üzerinde talep toplayarak Afrika, Asya ve Doğu Avrupada en fazla talep toplayan şirket ünvanını almıştır.</p>
    </div>
    <div class="col-md-6">
      <p>

        isimtescil.net aynı zamanda .tr uzantılarının Türkiye’deki yetkili operatörlerinden biridir. .tr uzantılı domain kaydediciler arasında en fazla işlem hacmine sahip firmadır. isimtescil.net tamamen kendi bünyesinde bulunan yazılım ekibi ile geliştirdiği Domain Management (Domain Yönetimi) otomasyonuna sahiptir. Bu otomasyon sayesinde kullanıcılarına dünya standartlarında online domain kaydetme ve tüm domain operasyonlarını web tabanlı ara yüzümüzden yönetebilme özgürlüğü sunmaktadır. Aynı arayüze entegre çalışan hosting otomasyon sistemi ile hosting kullanım kolaylığı ve tek arayüzden çoklu hizmet yönetimi sağlama kabiliyetinde olan firma, 2010 yılında tüm barındırma altyapısını cloud (bulut) üzerine taşımış ve bu sayede mnimum maliyet/maksimum performans ölçeğini tüm müşterilerine ulaştırabilmiştir.</p>
    </div>
  </div>
  <hr>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/1.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/2.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/3.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/4.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/5.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/6.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/7.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
    <div class="col-md-3">
      <img src="assets/8.jpg" style="width: 100%; height: 300px;" alt="">
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">MİSYONUMUZ</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 bg bg-primary">
      <p>  Müşteriye olan görev ve sorumluluklarımızın satış ile bağlayıp teknik destek ile sona ermediğinin bilincindeyiz. Bu nedenle satış ve destek ekibimizle sektördeki diğer firmalardan farklı bir şekilde çalışarak 7/24 kesintisiz olarak hizmet vermekteyiz.
        ATA Bilişim, Yazılım, Teknik Servis, Proje, Eğitim, Satış ve Pazarlama departmanlarındaki eğitimli kadrosu ile müşterilerine “Müşteri Memnuniyetinin Sürekliliği Esastır“ ilkesi ile hizmet vermektedir.</p>
    </div>
    <div class="col-md-4 bg bg-info">
      <p>   Müşteriye olan görev ve sorumluluklarımızın satış ile bağlayıp teknik destek ile sona ermediğinin bilincindeyiz. Bu nedenle satış ve destek ekibimizle sektördeki diğer firmalardan farklı bir şekilde çalışarak 7/24 kesintisiz olarak hizmet vermekteyiz.
        ATA Bilişim, Yazılım, Teknik Servis, Proje, Eğitim, Satış ve Pazarlama departmanlarındaki eğitimli kadrosu ile müşterilerine “Müşteri Memnuniyetinin Sürekliliği Esastır“ ilkesi ile hizmet vermektedir.</p>
    </div>
    <div class="col-md-4 bg bg-danger">
      <p>   Müşteriye olan görev ve sorumluluklarımızın satış ile bağlayıp teknik destek ile sona ermediğinin bilincindeyiz. Bu nedenle satış ve destek ekibimizle sektördeki diğer firmalardan farklı bir şekilde çalışarak 7/24 kesintisiz olarak hizmet vermekteyiz.
        ATA Bilişim, Yazılım, Teknik Servis, Proje, Eğitim, Satış ve Pazarlama departmanlarındaki eğitimli kadrosu ile müşterilerine “Müşteri Memnuniyetinin Sürekliliği Esastır“ ilkesi ile hizmet vermektedir.</p>
    </div>
  </div>
  <hr>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style= "text-align: center;" class="mt-5 mb-5">VİZYONUMUZ</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Yurt içinde hizmet üreten tüm diğer firmalar gibi Pronarim'in en önemli misyonu da, hizmet ürettiğimiz alanla ilgili araştırma ve geliştirmeler yaparak dünya ölçeğinde başarılara imza atmaktır. Bunun ilk basamağının kendine güven ve inanç olduğunun bilinciyle yaptığımız çalışmalarla, kurumsal şirketlere ve bireysel müşterilere verdiğimiz hizmet kalitesini artırmak ve büyüklüğünü kabul ettirmiş kurumlara teknolojik danışmanlık hizmetlerinde bulunmaktır.

        Yaptığımız işin yüklediği sorumlulukla bilgi birikimlerimiz ve tecrübelerimizi müşteri odaklı çalışmalarla çok daha ilerilere taşımak ve kendi alanında en güvenilir firmalar arasında ilk sıralarda yer almayı en önemli misyonumuz olarak görüyoruz. Kaliteli hizmet üretmeyi, her daim günceli yakalayan çözümler üretmeyi, insana saygı duyan ve sosyal sorumluluk bilincine sahip olmayı önemsiyoruz.</p>
    </div>

  </div>
</div>




<app-footer></app-footer>
