<section class="mt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" style="background-color: #76AA8B; height: auto">
        <div class="container">
          <div class="row">
            <div class="col-md-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:black" class="mt-5">
                <li><b><h3>Menü</h3></b></li>
                <hr>
                <li ><a href="" style="color:black">Anasayfa</a></li>
                <li ><a href="hakkimizda" style="color:black">Hakkımızda</a></li>
                <li ><a href="urunler" style="color:black">Mağaza</a></li>
                <li ><a href="iletisim" style="color:black">İletişim</a></li>
              </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
              <ul style="list-style-type:none; color:black" class="mt-5">
                <li><b><h3>İletişim bilgileri</h3></b></li>
                <hr>
                <li>Adres : Pınarbaşı, Hürriyet Cd., 07070 Konyaaltı/Antalya</li>
                <li>Telefon : +90 5** *** ** **</li>
                <li>Sabit Telefon : (0***) *** ** **</li>
                <li>Eposta : *******@******.***</li>

              </ul>
            </div>

            <div class="col-md-4 d-flex justify-content-center mt-5 mb-5">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3190.614324057385!2d30.64532862521232!3d36.89957371477266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c391d4afe6ac4b%3A0x8f9d88b2dd970272!2sAntalya%20Teknokent!5e0!3m2!1str!2str!4v1610831467730!5m2!1str!2str" width="100%" height="250" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-12" style="background-color:  #496c57;; height: auto">
            <p style= "text-align: center; color:black;">TELİF HAKKI © 2021 MYB</p>
          </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

