<nav class="navbar navbar-expand-md navbar-light" style="height: 60px; background-color: #8AD0A7;">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img style="width: 200px; height: 60px;" src="assets/logo1.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="" style="color:black" ><b>Anasayfa</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="urunler"  style="color:black" ><b>Mağaza</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="hakkimizda"  style="color:black" ><b>Hakkımızda</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="sorular"  style="color:black" ><b>Sık Sorulan Sorular</b></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iletisim"  style="color:black" ><b>İletişim</b></a>
        </li>




      </ul>
    </div>
    <button   class="btn btn-outline-danger btn-sm ml-2" [routerLink]="['/uyegiris']"><b>Giriş Yap</b></button>
    <button  class="btn btn-outline-warning btn-sm ml-2" [routerLink]="['/uyeol']"><b>Üye Ol</b></button>

  </div>

</nav>
