<app-navbar></app-navbar>
<app-header></app-header>



<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center;">Video Galeri</h1>
        <hr>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="row mt-3">
    <div class="col-md-3 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/lUvkzr411ik" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/ONiFrZYI5ng" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/ov-cfi-aLrg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-3 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/-8W3Rjy5dSA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/8Jg66tfyBC0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/x1CPohVTZAo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/c8r001RSro0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/kACi2QLNKLY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4 d-flex justify-content-center mt-3">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/cKezjswI_F0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>


  </div>

</div>

<app-footer></app-footer>
